@page
@model IndexModel
@{
    ViewData["Title"] = "Calculator";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>

    <div class="calculator">
        <div class="calculator_number">
            <input type="number" class="js-first-number" />
            <span class="error-message" name="$.firstNumber"></span>
        </div>
        <div>
            <select class="calculator_operation js-operation">
                <option value="x">X</option>
                <option value="/">/</option>
                <option value="+">+</option>
                <option value="-">-</option>
            </select>
            <span class="error-message" name="operation"></span>
        </div>
        <div class="calculator_number">
            <input type="number" class="js-second-number" />
            <span class="error-message" name="$.secondNumber"></span>
        </div>
        <div>
            <button class="js-make-operation btn btn-primary btn-sm">Make operation</button>
        </div>
        <div class="calculator_result js-result">
            0
        </div>
    </div>
</div>
