@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>

    <div class="calculator">
        <div class="calculator_display">
            <div class="calculator_number">
                <input type="number" class="js-first-number" />
                <span class="error-message" name="$.firstNumber"></span>
            </div>
            <div>
                <select class="calculator_operation js-operation">
                    <option value="x">X</option>
                    <option value="/">/</option>
                    <option value="+">+</option>
                    <option value="-">-</option>
                </select>
                <span class="error-message" name="operation"></span>
            </div>
            <div class="calculator_number">
                <input type="number" class="js-second-number" />
                <span class="error-message" name="$.secondNumber"></span>
            </div>
            <div>
                <button class="js-make-operation btn btn-primary btn-sm">Make operation</button>
            </div>
            <div class="calculator_result js-result">
                0
            </div>
        </div>
        <ul class="calculator_history list-group list-group-flush js-operation-history">
            <li class="list-group-item list-group-item-primary text-start">
                <h6 class="fw-bold mb-0">HISTORY</h6>
            </li>
            @foreach (var operation in Model.Operations)
            {
                <li class="list-group-item text-start">
                    <div>@operation.FirstNumber @operation.MathOperation @operation.SecondNumber</div>
                    <h5 class="fw-bold">@operation.Result</h5>
                </li>
            }
        </ul>
    </div>
</div>
